@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.wizard-button::after {
  background-image: url(/img/arrow-down-white.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 0.6em auto;
  content: "";
  display: inline-block;
  height: 1em;
  margin-left: 0.5em;
  margin-right: -0.3em;
  text-indent: -9999em;
  width: 1em;
}
